version: "3.9"
services:
  api:
    build: .
    container_name: app
    ports:
      - 8000:8000
    environment:
      TYPE: "API1"
    volumes:
      - ./logs:/app/logs

  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379